@media screen and (min-width: 480px) and (max-width: 600px){
 	.new_user_input
	{
		width: 80%;
	}
}
@media screen and (min-width: 600px) and (max-width: 768px){
	#other_data_root
	{
		display: block;
	}
	#other_data_root span
	{
		
	}
	#personal_data_root
	{
		display: block;
	}
	#personal_data_root span
	{
		
	}
	#profile_pic_root
	{
		
	}
	#profile_pic_root img
	{
		
	}
	.contenido_item_perfil p
	{
		display: block;
	}
	.draggable_hour_1,.draggable_hour_2,.draggable_hour_3,
	.draggable_hour_4,.draggable_hour_5,.draggable_hour_6
	{
		min-height: 30px;
	}
	.fields_holder
	{
		margin: 1em 70px;	
	}
	.new_user_input
	{
		width: 350px
	}
}
@media screen and (min-width: 768px) and (max-width: 800px){
	#other_data_root
	{
		display: block;
	}
	#personal_data_root
	{
		display: block;
	}
	.contenido_item_perfil p
	{
		display: block;
	}
	.draggable_hour_1,.draggable_hour_2,.draggable_hour_3,
	.draggable_hour_4,.draggable_hour_5,.draggable_hour_6
	{
		min-height: 30px;
	}
	.fields_holder
	{
		margin: 1em 100px;	
	}
	.new_user_input
	{
		width: 450px
	}
	.photo_container
	{
		display: inline-block;
	}
}
@media screen and (min-width: 800px) and (max-width: 1024px){
	nav
	{
		border-radius: 3px;
	}
	#agenda,#departments, #donator, #patients, #lab_survey
	{
		font-size: 1em;
		padding: 0.2em 0.5em 0.2em 1em;
	}
	#agenda a:after
	{
		color: white;
		content: "AGENDA";
		font-family: "icomoon";
	}
	#appointment
	{
		display: inline-block;
		border: 1px solid red;
		margin: 1em 0;
	}
	#content
	{
		width: 50%;
	}
	#content_subtitle:after
	{
		border-left: 37px solid #DD4F24;
		border-top: 37px solid transparent;
		content: "";
		left: 100%;
		position:absolute;
		top:0;
	}
	#departments a:before
	{
		color: white;
		content: "DEPARTAMENTOS";
		font-family: "icomoon";
	}
	#donator a:after
	{
		color: white;
		content: "DONADORES";
		font-family: "icomoon";
	}
	#lab_survey a:after
	{
		color: white;
		content: "ESTUDIOS";
		font-family: "icomoon";
	}
	#patients a:after
	{
		color: white;
		content: "PACIENTES";
		font-family: "icomoon";
	}
	#search_wrapper
	{
		display:none;
	}
	#glass
	{
		color: white;
		right: 420px;
		top: 2.3em;
		position: absolute;
	}
	#other_data_root
	{
		display: block;
	}
	#personal_data_root
	{
		display: block;
	}
	.contenido_item_perfil p
	{
		display: block;
	}
	.current_month a
	{
		color: black;
	}
	.current_month:after
	{
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid #2980b9;
		content: "";
		margin-right: -7px;
		right: 50%;
		position:absolute;
		top: 100%;
	}
	.draggable_hour_1,.draggable_hour_2,.draggable_hour_3,
	.draggable_hour_4,.draggable_hour_5,.draggable_hour_6
	{
		min-height: 30px;
	}
	.fields_holder
	{
		display: inline-block;
		margin: 1em 10px;
	}
	.item_perfil_in
	{
		display: inline-block;
		margin:0;
		width: 49%;
	}
	.new_user_input
	{
		width: 200px
	}
	.photo_container
	{
		display: inline-block;
	}
	.search_field
	{
		transition: all 0.5s;
		border-radius: 5px;
		content: "Buscar...";
		margin: 0.4em 11.5em 0.4em 0.4em;
		padding: 0.5em;
		position:absolute;
		right: 0;
		top: 1.2em;
		width: 200px;
	}
	.search_field:focus
	{
		background: #E0E3E7;
		width: 30%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
	#appointment
	{
		background: #fff;
		border-radius: 5px;
		display: inline-block;
		margin: 1em 0;
		width: 43%;
	}
	#appointment h3
	{
		padding-left: 1em;
	}
	#appointment hr
	{
		border: 1px solid #eee;
		padding: 0 0.5em;
	}
	#agenda,#departments, #donator, #patients, #lab_survey
	{
		font-size: 0.8em;
		padding: 0.2em 0.5em 0.2em 1em;
	}
	#agenda a:after
	{
		color: white;
		content: "AGENDA";
		font-family: "icomoon";
	}
	#search_wrapper
	{
		display:none;
	}
	#other_data_root
	{
		display: block;
	}
	#other_data_root span
	{
		
	}
	#personal_data_root
	{
		display: block;
	}
	#personal_data_root span
	{
		
	}
	#profile_pic_root
	{
		
	}
	#profile_pic_root img
	{
		
	}
	.contenido_item_perfil p
	{
		display: block;
	}
	.current_month
	{
		color: black;
	}
	.current_month:after
	{
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid #2980b9;
		content: "";
		margin-right: -7px;
		right: 50%;
		position:absolute;
		top: 100%;
	}
	#content
	{
		display: inline-block;
		margin: 0 1em 1em 1em;
		position: relative;
		width: 55%;
	}
	#content_wrapper
	{
		display: block;
		margin: 0 30px;
	}
	#departments a:after
	{
		color: white;
		content: "\e618";
		font-family: "icomoon";
	}
	#departments a:before
	{
		color: white;
		content: "DEPARTAMENTOS";
		font-family: "icomoon";
	}
	#donator a:after
	{
		color: white;
		content: "DONADORES";
		font-family: "icomoon";
	}
	#glass
	{
		color: white;
		right: 420px;
		top: 2.3em;
		position: absolute;
	}
	#lab_survey a:after
	{
		color: white;
		content: "ESTUDIOS";
		font-family: "icomoon";
	}
	#look, #manage, #new, #print
	{
		color: rgba(255,255,255,0.9);
		font-size: 1.5em;
	}
	#content_subtitle
	{
		width: 40%;
	}
	#content_subtitle:after
	{
		border-left: 37px #DD4F24;
		border-top: 37px solid transparent;
		content: "";
		right: -2.3em;
		position:absolute;
		top:0;
	}
	#new_user_submit
	{
		top: 20em;
		right: 4em;
	}
	#patients a:after
	{
		color: white;
		content: "PACIENTES";
		font-family: "icomoon";
	}
	#quick_access
	{
		background: #878787;
		border-radius: 10px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		display: inline-block;
		margin: 0 10px 0 10px;
		padding: 0.5em 0.5em;
		position: absolute;
		right: -7em;
		top: 0;
	}
	#quick_access ul
	{
		list-style: none;
		padding: 0; 
		margin: 0;
		text-align: center;
	}
	#quick_access ul li
	{
		border-top: 1px solid gray;
		border-left: 0;
		display: list-item;
	}
	#quick_access ul li:first-child
	{
		border-top: 0;
	}
	#search_wrapper
	{
		display:none;
	}
	.contenido_item_perfil p
	{
	border-right: #2C8199 solid 1px;
	padding: 0 0.5em 0 1em;
	display: inline-block; 
	}
	.contenido_item_perfil p:nth-child(3n+3)
	{
		border-right: 0;
	}
	.current
	{
		background: #454545;
	}
	.current a
	{
		text-decoration: none;
	}
	.draggable_hour_1, 
	.draggable_hour_2, 
	.draggable_hour_3, 
	.draggable_hour_4, 
	.draggable_hour_5, 
	.draggable_hour_6
	{
		display: inline-block;
		font-size: 0.8em;
		min-height: 30px;
	}
	.fields_holder
	{
		display: inline-block;
		margin: 1em 10px;
	}
	.new_user_input
	{
		width: 410px
	}
	.photo_container
	{
		display: inline-block;
	}
	.search_field
	{
		transition: all 0.5s;
		border-radius: 5px;
		content: "Buscar...";
		margin: 0.4em 11.5em 0.4em 0.4em;
		padding: 0.5em;
		position:absolute;
		right: 0;
		top: 1.2em;
		width: 200px;
	}
	.search_field:focus
	{
		background: #E0E3E7;
		width: 250px;
	}
	#camera
	{
		border-radius: 0.7em;
		margin: 0;
		width: 250px;
	}
	#main_fields_holder
	{
		display: inline-block;
		margin-top: 1em; 
	}
	.item_perfil_in
	{
		display: inline-block;
		margin:0;
		width: 49%;
	}
	.hour_row
	{
		border-bottom: 1px solid #7f8c8d;
		border-left: 1px solid #95a5a6;
		border-right: 1px solid #95a5a6;
		height: 30px;
		padding: 0;
	}
	.photo_container
	{
		border: 2px solid #3498db;
		border-radius: 0.7em;
		display: inline-block;
		margin: 1.5em 1em 0.5em 1em;
		position: relative;
		width: 250px;
	}
	#vertical_spacer
	{
		display: none;
	}
}
@media screen and (min-width: 1200px){
	#appointment
	{
		background: #fff;
		border-radius: 5px;
		display: inline-block;
		margin: 1em 0;
		width: 43%;
	}
	#appointment h3
	{
		padding-left: 1em;
	}
	#appointment hr
	{
		border: 1px solid #eee;
		padding: 0 0.5em;
	}
	#other_data_root
	{
		display: block;
	}
	#other_data_root span
	{
		
	}
	#personal_data_root
	{
		display: block;
	}
	#personal_data_root span
	{
		
	}
	#profile_pic_root
	{
		
	}
	#profile_pic_root img
	{
		
	}
	.current_month
	{
		color: black;
	}
	.current_month:after
	{
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid #2980b9;
		content: "";
		margin-right: -7px;
		right: 50%;
		position:absolute;
		top: 100%;
	}
	#content
	{
		display: inline-block;
		margin: 0 1em 1em 1em;
		position: relative;
		width: 60%;
	}
	#content_wrapper
	{
		display: block;
	}
	#agenda,#departments, #donator, #patients, #lab_survey
	{
		font-size: 0.8em;
		padding: 0.2em 0.5em 0.2em 1em;
	}
	#agenda a:after
	{
		color: white;
		content: "AGENDA";
		font-family: "icomoon";
	}
	#departments a:after
	{
		color: white;
		content: "\e618";
		font-family: "icomoon";
	}
	#departments a:before
	{
		color: white;
		content: "DEPARTAMENTOS";
		font-family: "icomoon";
	}
	#donator a:after
	{
		color: white;
		content: "DONADORES";
		font-family: "icomoon";
	}
	#glass
	{
		color: white;
		right: 420px;
		top: 2.3em;
		position: absolute;
	}
	#lab_survey a:after
	{
		color: white;
		content: "ESTUDIOS";
		font-family: "icomoon";
	}
	#look, #manage, #new, #print
	{
		color: rgba(255,255,255,0.9);
		font-size: 1.5em;
	}
	#content_subtitle
	{
		width: 40%;
	}
	#new_user_submit
	{
		top: 20em;
		right: 4em;
	}
	#patients a:after
	{
		color: white;
		content: "PACIENTES";
		font-family: "icomoon";
	}
	#quick_access
	{
		background: #878787;
		border-radius: 10px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		display: inline-block;
		margin: 0 10px 0 10px;
		padding: 0.5em 0.5em;
		position: absolute;
		right: -7em;
		top: 0;
	}
	#quick_access ul
	{
		list-style: none;
		padding: 0; 
		margin 0;
		text-align: center;
	}
	#quick_access ul li
	{
		border-top: 1px solid gray;
		border-left: 0;
		display: list-item;
	}
	#quick_access ul li:first-child
	{
		border-top: 0;
	}
	#search_wrapper
	{
		display:none;
	}
	.contenido_item_perfil p
	{
	border-right: #2C8199 solid 1px;
	padding: 0 0.5em 0 1em;
	}
	.contenido_item_perfil p:nth-child(3n+3)
	{
		border-right: 0;
	}
	.current
	{
		background: #454545;
	}
	.current a
	{
		text-decoration: none;
	}
	.item_perfil_in
	{
		display: inline-block;
		margin:0;
		width: 49.75%;
	}
	.draggable_hour_1, 
	.draggable_hour_2, 
	.draggable_hour_3, 
	.draggable_hour_4, 
	.draggable_hour_5, 
	.draggable_hour_6
	{
		display: inline-block;
		font-size: 0.8em;
		min-height: 30px;
	}
	.fields_holder
	{
		display: inline-block;
		margin: 1em 10px;
	}
	.hour_row
	{
		border-bottom: 1px solid #7f8c8d;
		border-left: 1px solid #95a5a6;
		border-right: 1px solid #95a5a6;
		height: 30px;
		padding: 0;
	}
	.new_user_input
	{
		width: 190px
	}
	.photo_container
	{
		display: inline-block;
	}
	.search_field
	{
		transition: all 0.5s;
		border-radius: 5px;
		content: "Buscar...";
		margin: 0.4em 11.5em 0.4em 0.4em;
		padding: 0.5em;
		position:absolute;
		right: 0;
		top: 1.2em;
		width: 200px;
	}
	.search_field:focus
	{
		background: #E0E3E7;
		width: 250px;
	}
	#camera
	{
		border-radius: 0.7em;
		margin: 0;
		width: 250px;
	}
	#main_fields_holder
	{
		display: inline-block;
		margin-top: 1em; 
	}
	.photo_container
	{
		border: 2px solid #3498db;
		border-radius: 0.7em;
		margin: 1.5em 1em 0.5em 1em;
		position: relative;
		width: 250px;
	}
	#vertical_spacer
	{
		display: block;
	}
}
