/*
	Los elementos CSS3 se acomodan alfabéticamente en el siguiente
	orden:
			* Etiquetas de Pre-Render (@)
			* Etiquetas semánticas (body, header, etc.)
			* Identificadores (#)
			* Clases (.)

	Entre ellas también se acomodan alfabéticamente.
*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{font-family: 'Gafata', sans-serif;}
a
{
	text-decoration: none;
}
body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	margin: 0px;
}
footer
{
	padding: 1em 0;
	text-align: right;
}
header
{
	border-bottom: 2px solid #3F60A0;
	background: #0C182F;
	color: white;
	min-height: 75px;
	padding: 0.5em;
}
header figure, #notifications
{
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	vertical-align: top;
}
header #logo img
{
	margin: 0.8em 1em 0 1em;
	width: 50px;
}
header #avatar
{
	background: rgba(243,243,243,0.3);
	border-radius: 0.2em;
	float: right;
	margin: 0.5em 1em 0 0;
	padding: 0.25em;
}
header #avatar figcaption
{
	background: #2980b9;
	border-radius: 0 0.5em 0.5em 0;
	color: white;
	float: right;
	height: 50px;
	line-height: 50px;
}
header #avatar figcaption:after
{
	font-family: "icomoon";
	content: "\e618";
}
header #avatar img
{
	float: left;
	width: 50px;
}
footer
{
	border-top: 2px solid #3F60A0;
	background: #0C182F;
	display: block;
}
footer p
{
	color: rgba(255,255,255,0.7);
	text-align: center;
}
nav
{
	background: #878787;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	font-size: 1em;
	font-weight: bold;
	margin: 0 10px 0 10px;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
nav ul li a
{
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}
nav ul li:hover
{
	background: #aaa;
}
th
{
	background: #2980b9;
	font-style: italic;
}
#agenda
{
	font-size: 1.3em;
	padding: 0.2em 0.5em 0.2em 1em;
}
#agenda a:after
{
	color: white;
	content: "\e602";
	font-family: "icomoon";
}
#content
{
	background: #E7E3FF;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	margin: 2em 10px 1em 10px; 
	padding:0;
	position: relative;
}
#content_title
{
	background: #FFBC00;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color: #704b00;
	display: block;
	font-size: 1.3em;
	margin-left: -90px;
	padding: 0.3em 0.7em;
	position: absolute;
	left: 50%;
	text-align: center;
	top: -1.7em;
	width: 150px;
}
#content_subtitle
{
	background: #DD4F24;
	border-radius: 0.3em 0 0 0.3em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color: white;
	font-weight: bold;
	left: -0.5em;
	padding: 0.5em 1em;
	position: absolute;
	top: 1.5em;
	width: 70%;
}
#content_subtitle:before
{
	border-left: 19px solid #DD4F24;
	border-top: 19px solid transparent;
	content: "";
	right: -1.2em;
	position:absolute;
	top:0;
}
#content_subtitle:after
{
	border-right: 19px solid transparent;
	border-top: 19px solid #DD4F24;
	content: "";
	right:-1.2em;
	position:absolute;
	bottom:0;
}
#day_table
{
	padding: 0; 
	margin: 1em 0;
	width: 100%;
}
#table_body
{
	display: block;
	width: 100%;
}
#down_text_cal:after
{
	content: "\e600";
	font-family: "icomoon";
	font-style: normal;
	font-weight: bold;
}
#departments, #donator, #patients
{
	font-size: 1.3em;
	padding: 0.2em 0.5em;
}
#departments a:after
{
	color: white;
	content: "\e618";
	font-family: "icomoon";
}
#departments a:before
{
	color: white;
	content: "\e606";
	font-family: "icomoon";
}
#donator a:after
{
	color: white;
	content: "\e604";
	font-family: "icomoon";
}
#down_content
{
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 1px solid #7f8c8d;
	display: block;
	height: 2em;
	position: relative;
}
#glass:after
{
	content: "\e605";
	font-family: "icomoon";
}
#indicator_actual
{
	background: #DD4F24;
	border-radius: 50%;
	color: white;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0.3em 0 0.5em;
	padding: 0.1em 0.4em;
	text-align: center;
}
#indicator_aviable
{
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.1em 0.4em;
	width: 1em;
}
#indicator_unaviable
{
	color: gray;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.1em 0.4em;
	text-decoration: line-through;
	width: 1em;
}
#info_calendar
{
	background: white;
	font-style: italic;
	font-weight: normal;
	font-size: 0.9em;
}
#inicio
{
	padding-left: 1em;
}
#lab_survey
{
	font-size: 1.3em;
	padding: 0.2em 0.5em 0.2em 0;
}
#lab_survey a:after
{
	color: white;
	content: "\e608";
	font-family: "icomoon";
}
#look, #manage, #new, #print
{
	color: rgba(255,255,255,0.9);
	font-size: 1.5em;
}
#look:after
{
	content: "\e610";
	font-family: "icomoon";
}
#manage:after
{
	content: "\e60b";
	font-family: "icomoon";
}
#menu
{
	background: rgba(44, 62, 80,0.96);
	border: 2px solid #2980b9; 
	border-radius: 1em;
	display: block;
	list-style: none;
	margin: 0;
	padding: 1em;
	position: absolute;
	right: 1em;
	text-align: left;
	top: 6em;
	width: 200px;
}
#menu:after
{
	border-bottom: 20px solid #2980b9;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	content: "";
	top: -20px;
	position: absolute;
	left: 70%;
}
#menu li
{
	padding: 0;
	margin: 0;	
}
#menu li a
{
	color: white;
	display: block;
	padding: 0.5em 0;
}
#new:after
{
	content: "\e619";
	font-family: "icomoon";
}
#notifications
{
	background: rgba(243,243,243,0.3);
	border-radius: 0.2em;
	color: white;
	margin: 0.9em 0 0 0.8em;
	padding: 0.8em 0.3em;
	position: relative;
	text-align: center;
	width: 20%;
}
#notifications:after
{
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid rgba(243,243,243,0.3);
	content: "";
	top: 18px;
	position: absolute;
	left: 100%;
}
#notifications:before
{
	content: "\e603";
	font-family: "icomoon";
}
#numb
{
	border-radius: 50%;
	background: #DD4F24;
	color: white;
	display: block;
	font-size: 0.9em;
	padding: 0.1em 0.4em;
	position: absolute;
	right: -0.5em;
	top: -0.6em;
}
#print:after
{
	content: "\e613";
	font-family: "icomoon";
}
#patients a:after
{
	color: white;
	content: "\e601";
	font-family: "icomoon";
}
#manage:after
{
	content: "\e60b";
	font-family: "icomoon";
}
#quick_access
{
	background: #878787;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display: block;
	margin: 1em 10px 1em 10px;
	padding: 0.5em 0.5em;
	top: 15em;
}
#quick_access ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#quick_access ul li
{
	border-left: 1px solid gray;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
#quick_access ul li:first-child
{
	border-left: 0px;
}
#quick_access ul li a
{
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
}
#right_wrapper
{ 
	float: right;
	width: 160px;
}
#search_wrapper
{
	background: #202735;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
	margin: 10px 10px 0 10px;
	padding: 0.5em;
	text-align: right;
}
#up_content
{
	background: white;
	border-bottom: 1px solid #7f8c8d;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	position: relative;
	height: 6em;
}
#up_content ul
{
	display: block;
	list-style: none;
	margin: 0;
	padding: 1em 0 0 0;
	text-align: center;
}
#up_content ul li
{
	display: inline-block;
	margin: 0;
	vertical-align: top;
	width: 14%;
}
#up_content ul li a
{
	transition: all 0.5s;
	border-bottom: 2px solid #2980b9;
	color: black;
	display: block;
	font-weight: bold;
	padding: 0.5em 0;
	text-decoration: none;
	text-align: center;
	width: 100%;
}
#up_content ul li a:hover
{
	color: #2980b9;
}
.calendar_row
{
	color: black;
	font-weight: bold;
	padding-left: 0.4em; 
	width: 10%;
}
.close_session
{
	border-bottom: 3px solid #75231A;
	border-radius: 5px;
	background: #e74c3c;
	margin-top: 1em;
	text-align: center;
}
.close_session:hover
{
	background: #C23828;
}
.contenido_item_perfil
{
	border-top: #2C8199 solid 1px;
	background: rgba(86,194,255,0.1);
	color: black;
	margin-top: 0;
}
.contenido_item_perfil p
{
	padding-left: 1em;
	display: inline-block; 
}
.current a
{
	color: rgb(3,3,63);
	text-decoration: underline;
}
.current_month:after
{
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #2980b9;
	content: "";
	margin-right: -7px;
	right: 50%;
	position:absolute;
	top: 100%;
}
.day_height
{
	background: #eee;
	height: 100px;
}
.day_height p
{
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}
.day_height_gray
{
	background: #ccc;
	height: 100px;
}
.day_number
{
	color: white;
	margin: 0;
	font-size: 1.8em;
}
.meridiane
{
	color: white;
	margin: 0;
	font-size: 0.8em;
}
.day_title
{
	background: #1A233C;
	color: white;
}
.draggable_hour_1, 
.draggable_hour_2, 
.draggable_hour_3, 
.draggable_hour_4, 
.draggable_hour_5, 
.draggable_hour_6
{
	font-size: 0.8em
} 
.draggable_hour_1
{
	background: #16a085;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	color: white;
	display: block;
	height: 100px;
	min-height: 25px;
	padding: 0 1em;
	position: absolute;
	text-align: center;
	top:0;
	width: 25px;
}
.draggable_hour_2
{
	background: #8e44ad;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	color: white;
	display: block;
	min-height: 25px;
	padding: 0 1em;
	position: absolute;
	text-align: center;
	top:0;
	width: 25px;
}
.draggable_hour_3
{
	background: #c0392b;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	color: white;
	display: block;
	min-height: 25px;
	padding: 0 1em;
	position: absolute;
	text-align: center;
	top:0;
	width: 25px;
}
.draggable_hour_4
{
	background: #d35400;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	color: white;
	display: block;
	min-height: 25px;
	padding: 0 1em;
	position: absolute;
	text-align: center;
	top:0;
	width: 25px;
}
.draggable_hour_5
{
	background: #f39c12;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	color: white;
	display: block;
	min-height: 25px;
	padding: 0 1em;
	position: absolute;
	text-align: center;
	top:0;
	width: 25px;
}
.draggable_hour_6
{
	background: #27ae60;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	color: white;
	display: block;
	min-height: 25px;
	padding: 0 1em;
	position: absolute;
	text-align: center;
	top:0;
	width: 25px;
}
.draggable_hour_1:after,
.draggable_hour_2:after,
.draggable_hour_3:after,
.draggable_hour_4:after,
.draggable_hour_5:after,
.draggable_hour_6:after
{
	color: rgba(236, 240, 241,0.5);
	content: "...";
	font-size: 2em;
	margin-top: -16px;
	position: absolute;
	right: -0.3em;
	top: 50%;
	transform: rotate(90deg);
}
.draggable_hour_1:hover
{
	background: #1abc9c;
	cursor: move;
}
.draggable_hour_2:hover
{
	background: #9b59b6;
	cursor: move;
}
.draggable_hour_3:hover
{
	background: #e74c3c;
	cursor: move;
}
.draggable_hour_4:hover
{
	background: #e67e22;
	cursor: move;
}
.draggable_hour_5:hover
{
	background: #f1c40f;
	cursor: move;
}
.draggable_hour_6:hover
{
	background: #2ecc71;
	cursor: move;
}
.droppable_hour
{
	border-right: 1px solid #7f8c8d;
	margin: 0;
	padding: 0;
	position: relative;
	width: 10%;
}
.droppable_hour:last-child
{
	border-right: 0px;
}
.down_text
{
	float: right;
	font-size: 0.9em;
	margin: 0.3em 1em 0 0;
}
.down_text a
{
	color: #3498db;
	font-style: italic;
}
.fixed
{
	position: fixed; 
	top:0;
}
.hour_row
{
	background: #bdc3c7;
	border-bottom: 1px solid #7f8c8d;
	border-left: 1px solid #95a5a6;
	border-right: 1px solid #95a5a6;
	height: 25px;
	padding: 0;
}
.hour_row:nth-child(4n+4)
{
	border-bottom: 1px solid #2c3e50;
}
.hour_row:nth-child(2n+1)
{
	border-bottom: 1px dashed #7f8c8d;
}
.hour_row:first-child
{
	border-top: 2px solid #7f8c8d;
}
.hour_row:last-child
{
	border-bottom: 2px solid #7f8c8d;
}
.left_hour
{
	background: #2980b9;
	border-right: 1px solid #2c3e50;
	color: #2c3e50;
	font-weight: normal;
	font-size: 0.9em;
	padding: 1em 0.2em;
	text-align: center;
	width: 5%;
}
.left_hour:last-child
{
	border-bottom: 2px solid transparent;
}
.menu_profile:hover, .menu_help:hover, .menu_conf:hover
{
	background: #34495e;
}
.menu_profile:before
{
	content: "\e617";
	font-family: "icomoon";
}
.menu_help:before
{
	content: "\e61c";
	font-family: "icomoon";
}
.menu_conf:before
{
	content: "\e60a";
	font-family: "icomoon";
}
.month
{
	border: 1px solid #fff;
	width: 100%;
}
.month td, .month th
{
	 border: 1px solid #fff;
}
.month_slider
{
	font-size: 1.5em;
	text-align: center;
}
.month_title
{
	background: #DD4F24;
	border-radius: 4px;
	color:white;
	margin-top: 1em;
	margin-left: -100px;
	text-align: center;
	position: absolute;
	left: 50%;
	width: 200px;
}
.next_month:after
{
	background: rgba(189, 195, 199,0.5);
	border-radius: 50%;
	color: rgba(100,100,100,0.7);
	content: "\e61f";
	font-family: "icomoon";
	font-size: 2.5em;
	position: absolute;
	right: 0em;
	top: 12%;
}
.new_user_input
{
	border: transparent;
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em 0.5em 0.5em 2em; 
	position: relative;
	width: 140px;
}
.new_user_input:after
{
	border-left: 10px solid black;
	border-top: 10px solid transparent;
	content: "";
	position: absolute;
	right: -2em;
	top: 0;
}
.new_user_labels
{
	background: #3498db;
	color: white;
	margin: 0.5em 0 0 2em;
	padding: 0.5em; 
	position: relative;
}
#user_label:after
{
	content: "\e60f";
	font-family: "icomoon";
}
#user_label:before
{
	border-left: 10px solid black;
	border-top: 10px solid transparent;
	content: "";
	position: absolute;
	right: -1em;
	top: 0;
	z-index: 10;
}
#ap_label:after
{
	content: "\e617";
	font-family: "icomoon";
}
#dir_label:after
{
	content: "\e60e";
	font-family: "icomoon";
}
#tel_label:after
{
	content: "\e615";
	font-family: "icomoon";
}
#mail_label:after
{
	content: "\e60d";
	font-family: "icomoon";
}
#curp_label:after
{
	content: "\e601";
	font-family: "icomoon";
}
#rfc_label:after
{
	content: "\e601";
	font-family: "icomoon";
}
.prev_month:after
{
	background: rgba(189, 195, 199,0.5);
	border-radius: 50%;
	color: rgba(100,100,100,0.7);
	content: "\e620";
	font-family: "icomoon";
	font-size:2.5em;
	left: 0em;
	position: absolute;
	top: 12%;
}
.search_field
{
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 5px;
	margin: 0.4em;
	padding: 0.5em;
	width: 30%;
}
.search_field:focus
{
	background: #E0E3E7;
	width: 70%;
}
.title_item_perfil
{
	background: #2980b9;
	margin: 0;
	padding: 0.4em 0 0.4em 1em;
	font-style: italic;
	position: relative;
}
.title_item_perfil p
{
	color: white;
	margin: 0;
}