@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
a
{
	text-decoration: none;
}
body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	margin: 0px;
}
footer
{
	padding: 1em 0;
	text-align: right;
}
header
{
	border-bottom: 2px solid #3F60A0;
	background: #0C182F;
	color: white;
	min-height: 75px;
	padding: 0.5em;
}
header figure, #notifications
{
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	vertical-align: top;
}
header #logo img
{
	margin: 0.8em 1em 0 1em;
	width: 50px;
}
header #avatar
{
	background: rgba(243,243,243,0.3);
	border-radius: 0.2em;
	float: right;
	margin: 0.5em 1em 0 0;
	padding: 0.25em;
}
header #avatar figcaption
{
	background: #22BCE0;
	border-radius: 0 0.5em 0.5em 0;
	color: white;
	float: right;
	height: 50px;
	line-height: 50px;
}
header #avatar figcaption:after
{
	font-family: "icomoon";
	content: "\e618";
}
header #avatar img
{
	float: left;
	width: 50px;
}
footer
{
	border-top: 2px solid #3F60A0;
	background: #0C182F;
	display: block;
}
footer p
{
	color: rgba(255,255,255,0.7);
	text-align: center;
}
nav
{
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	background: #878787;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	font-size: 1em;
	font-weight: bold;
	margin: 0 10px 0 10px;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
nav ul li a
{
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}
nav ul li:hover
{
	background: #aaa;
}
td
{
	color: black;
	font-weight: bold;
	padding-left: 0.4em; 
	width: 10%;
}
th
{
	font-style: italic;
}
#agenda
{
	font-size: 1.3em;
	padding: 0.2em 0.5em 0.2em 1em;
}
#agenda a:after
{
	color: white;
	content: "\e602";
	font-family: "icomoon";
}
#content
{
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	background: white;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	margin: 2em 10px 1em 10px; 
	padding: 2em 0.5em 0.5em 0.5em;
	position: relative;
}
#content_title
{
	background: #FFBC00;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color: #704b00;
	display: block;
	font-size: 1.3em;
	padding: 0.3em 0.7em;
	position: absolute;
	left: 3.7em;
	text-align: center;
	top: -1.7em;
	width: 100px;
}
#departments, #donator, #patients
{
	font-size: 1.3em;
	padding: 0.2em 0.5em;
}
#departments a:after
{
	color: white;
	content: "\e618";
	font-family: "icomoon";
}
#departments a:before
{
	color: white;
	content: "\e606";
	font-family: "icomoon";
}
#donator a:after
{
	color: white;
	content: "\e604";
	font-family: "icomoon";
}
#glass:after
{
	content: "\e605";
	font-family: "icomoon";
}
#indicator_actual
{
	background: #DD4F24;
	border-radius: 50%;
	color: white;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0.3em 0 0.5em;
	padding: 0.1em 0.4em;
	text-align: center;
}
#indicator_aviable
{
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.1em 0.4em;
	width: 1em;
}
#indicator_unaviable
{
	color: gray;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.1em 0.4em;
	text-decoration: line-through;
	width: 1em;
}
#info_calendar
{
	background: white;
	font-style: italic;
	font-weight: normal;
	font-size: 0.9em;
}
#inicio
{
	padding-left: 1em;
}
#lab_survey
{
	font-size: 1.3em;
	padding: 0.2em 0.5em 0.2em 0;
}
#lab_survey a:after
{
	color: white;
	content: "\e608";
	font-family: "icomoon";
}
#look, #manage, #new, #print
{
	color: rgba(255,255,255,0.9);
	font-size: 1.5em;
}
#look:after
{
	content: "\e610";
	font-family: "icomoon";
}
#manage:after
{
	content: "\e60b";
	font-family: "icomoon";
}
#new:after
{
	content: "\e619";
	font-family: "icomoon";
}
#notifications
{
	background: rgba(243,243,243,0.3);
	border-radius: 0.2em;
	color: white;
	margin: 0.9em 0 0 0.8em;
	padding: 0.8em 0.3em;
	position: relative;
	text-align: center;
	width: 20%;
}
#notifications:after
{
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid rgba(243,243,243,0.3);
	content: "";
	top: 18px;
	position: absolute;
	left: 100%;
}
#notifications:before
{
	content: "\e603";
	font-family: "icomoon";
}
#numb
{
	border-radius: 50%;
	background: #DD4F24;
	color: white;
	display: block;
	font-size: 0.9em;
	padding: 0.1em 0.4em;
	position: absolute;
	right: -0.5em;
	top: -0.6em;
}
#print:after
{
	content: "\e613";
	font-family: "icomoon";
}
#patients a:after
{
	color: white;
	content: "\e601";
	font-family: "icomoon";
}
#manage:after
{
	content: "\e60b";
	font-family: "icomoon";
}
#quick_access
{
	background: #878787;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display: block;
	margin: 1em 10px 1em 10px;
	padding: 0.5em 0.5em;
	top: 15em;
}
#quick_access ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#quick_access ul li
{
	border-left: 1px solid gray;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
#quick_access ul li:first-child
{
	border-left: 0px;
}
#quick_access ul li a
{
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
}
#right_wrapper
{ 
	float: right;
	width: 160px;
}
#search_wrapper
{
	background: #202735;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
	margin: 10px 10px 0 10px;
	padding: 0.5em;
	text-align: right;
}
.current a
{
	color: rgb(3,3,63);
	text-decoration: underline;
}
.day_height
{
	background: #eee;
	height: 100px;
}
.day_height p
{
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}
.day_height_gray
{
	background: #ccc;
	height: 100px;
}
.day_title
{
	background: #1A233C;
	color: white;
}
.january
{
	border: 1px solid #fff;
	width: 100%;
}
.january td, .january th
{
	 border: 1px solid #fff;
}
.calendar_icon:after
{
	color: black;
	content: "\e600";
	font-family: "icomoon";
	font-size: 2em;
}
.fixed
{
	position: fixed; 
	top:0;
}
.month_slider
{
	font-size: 1.5em;
	text-align: center;
}
.month_title
{
	background: rgba(189, 195, 199,0.2);
	border-radius: 10px;
	margin-top: 0.5em;
	margin-left: 3em;
	margin-right: 3em;
	text-align: center;
}
.search_field
{
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 5px;
	margin: 0.4em;
	padding: 0.5em;
	width: 30%;
}
.search_field:focus
{
	background: #E0E3E7;
	width: 75%;
}
.prev_month, .next_month
{
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.prev_month:after
{
	background: rgba(189, 195, 199,0.5);
	border-radius: 50%;
	color: rgba(100,100,100,0.7);
	content: "\e620";
	font-family: "icomoon";
	font-size:2.5em;
	left: 0.3em;
	position: absolute;
	top: 5%;
}
.prev_month:hover
{
	left: 0.1em;
}
.next_month:after
{
	background: rgba(189, 195, 199,0.5);
	border-radius: 50%;
	color: rgba(100,100,100,0.7);
	content: "\e61f";
	font-family: "icomoon";
	font-size: 2.5em;
	position: absolute;
	right: 0.3em;
	top: 5%;
}
#nombre_user{
	background: rgba(86,194,255,0.2);
	text-align: center;
	padding: 0.3em;
	border-radius: 1em;
	border: #2C8199 solid 2px;
	font-weight: bold;
}
/* como se veia bien en pantalla grande
#nombre_user{
	background: rgba(86,194,255,0.2);
	text-align: center;
	margin: 1em 5em;
	padding: 0.3em;
	border-radius: 1em;
	border: #2C8199 solid 2px;
	font-weight: bold;
}
*/
.title_item_perfil p{
	background: rgba(86,194,255,0.3);
	border-radius:1em 1em 0 0;
	border: #2C8199 solid 1px;
	margin-bottom: 0;
	padding-left: 1em;
	text-align: center;
	font-style: italic;
	font-size: 16px;
}
/*
.title_item_perfil p{
	background: rgba(86,194,255,0.3);
	border-radius:1em 1em 0 0;
	border: #2C8199 solid 1px;
	margin-bottom: 0;
	padding-left: 1em;
	text-align: center;
	width: 30%;
	font-style: italic;
}*/
.contenido_item_perfil{
	border: #2C8199 solid 1px;
	background: rgba(86,194,255,0.1);
	margin-top: 0;
	border-radius:0 0 1em 1em;
}
/*
.contenido_item_perfil{
	border: #2C8199 solid 1px;
	background: rgba(86,194,255,0.1);
	margin-top: 0;
	border-radius:0 1em 1em 1em;
}*/
.contenido_item_perfil p{
	padding-left: 1em;
	display: inline-block; 
}
/*
.contenido_item_perfil p{
	border-right: #2C8199 solid 1px;
	width: 30%;
	padding-left: 1em;
	display: inline-block; 
}*/
#calendar h2{
	font-size: 16px;
}