/*
	Los elementos CSS3 se acomodan alfabéticamente en el siguiente
	orden:
			* Etiquetas de Pre-Render (@)
			* Etiquetas semánticas (body, header, etc.)
			* Identificadores (#)
			* Clases (.)

	Entre ellas también se acomodan alfabéticamente.
*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
a
{
	text-decoration: none;
}

body
{
	background: #ecf0f1;
	color: #4C4C4C;
	font-size: 16px;
	margin: 0px;
}
footer
{
	padding: 1em 0;
	text-align: right;
}
h3
{
	margin: 0;
	text-align: center;
}
h4
{
	font-weight: normal;
	padding: 0 0.5em 0 0.5em;
	text-align: center;
}
header
{
	border-bottom: 2px solid #3F60A0;
	background: #0C182F;
	color: white;
	min-height: 75px;
	padding: 0.5em;
}
header figure, #notifications
{
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	vertical-align: top;
}
header #logo img
{
	margin: 0.8em 1em 0 1em;
	width: 50px;
}
header #avatar
{
	background: rgba(243,243,243,0.3);
	border-radius: 0.2em;
	float: right;
	margin: 0.5em 0 0 0;
	padding: 0.25em;
}
header #avatar figcaption
{
	background: #2980b9;
	border-radius: 0 0.5em 0.5em 0;
	color: white;
	float: right;
	height: 50px;
	line-height: 50px;
}
header #avatar figcaption:after
{
	font-family: "icomoon";
	content: "\e618";
}
header #avatar img
{
	float: left;
	height: 50px;
}
footer
{
	border-top: 2px solid #3F60A0;
	background: #0C182F;
	display: block;
}
footer p
{
	color: rgba(255,255,255,0.7);
	text-align: center;
}
nav
{
	background: #878787;
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 1em 0;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
nav ul li a
{
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}
nav ul li:hover
{
	background: #aaa;
}
th
{
	background: #2980b9;
	font-style: italic;
}
#age_label:after
{
	content: "\e600";
	font-family: "icomoon";
}
#agenda
{
	font-size: 1.3em;
	padding: 0.2em 0.5em 0.2em 1em;
}
#agenda a:after
{
	color: white;
	content: "\e602";
	font-family: "icomoon";
}
#ap_label:after
{
	content: "\e617";
	font-family: "icomoon";
}
#atention
{
	font-size: 0.7rem;
	margin: 0; 
	padding: 0.5em 0;
}
#bir_label:after
{
	content: "\e600";
	font-family: "icomoon";
}
#button_holder_down
{
	margin: 0;
	text-align: right;
}
#calendar_style
{
	margin: 0;
}
#camera
{
	border-radius: 0.7em;
	height: 187px;
	margin: 0;
	width: 250px;
}
#check_patient_type
{
	border-radius: 0.1em;
	margin: 0.5em 0.3em;
	padding: 0.5em 0 2em 0;
}
#chk_date_label:after
{
	content: "\e600";
	font-family: "icomoon";
}
#chk_name_label:after
{
	content: "\e617";
	font-family: "icomoon";
}
#content
{
	background: #FFFFFF;
	border-radius: 5px;
	display: inline-block;
	position: relative;
}
#content_calendar
{
	background: #FFFFFF;
	border-radius: 5px;
	display: inline-block;
	margin-right: 1em; 
	padding:0;
	position: relative;
	width: 20%;
}
#content_users
{
	background: #FFFFFF;
	border-radius: 5px;
	display: inline-block;
	margin: 0 0 1em 1em;
	position: relative;
	width: 90%;
}
#content_title
{
	background: #2980b9;
	color: white;
	display: inline-block;
	font-size: 1em;
	padding: 0.4em;
	position: relative;
	text-align: center;
	width: 80px;
}
#content_title_calendar
{
	background: #2980b9;
	color: white;
	display: inline-block;
	font-size: 1em;
	padding: 0.4em;
	position: relative;
	width: 85px;
}
#content_title_left
{
	background: #2980b9;
	color: white;
	display: block;
	font-size: 1em;
	margin-left: 0.5em;
	padding: 0.4em;
	position: relative;
	width: 130px;
}
#content_title_users
{
	background: #2980b9;
	color: white;
	display: inline-block;
	font-size: 1em;
	padding: 0.4em;
	position: relative;
	text-align: center;
	width: 150px;
}
#content_title:after, #content_title_calendar:after, #content_title_users:after
{
	border-left: 34px solid #2980b9;
	border-bottom: 34px solid transparent;
	content: "";
	left: 100%;
	position: absolute;
	top: 0;
}
#content_subtitle
{
	border-radius: 0.5em 0 0 0;
	color: #2980b9;
	display: inline-block;
	font-size: 1.2em;
	font-style: italic;
	margin: 0 0 0 2em;
	padding: 0.5em 0 0.5em 0.5em;
	position: relative;
	width: 80%;
}
#content_wrapper
{
	vertical-align: top;
}
#curp_label:after
{
	content: "\e601";
	font-family: "icomoon";
}
#date_changer
{
	display: block;	
	padding: 0.5em;
	position: relative;
	text-align: right;
}
#date_changer:after
{
	content: "\e600";
	font-family: "icomoon";
	font-style: normal;
	font-weight: bold;
	position: absolute;
	right: 1em;
	top: 1.1em;
}
#dc_day
{
	border: 0;
	border-radius: 0.5em;
	display: inline-block;
	outline: none;
	padding: 0.5em;
	width: 170px;
}
#day_table
{
	padding: 0; 
	margin: 0 0 1em 0;
	width: 100%;
}
#departments, #donator, #patients
{
	font-size: 1.3em;
	padding: 0.2em 0.5em;
}
#departments a:after
{
	color: white;
	content: "\e618";
	font-family: "icomoon";
}
#dir_label:after
{
	content: "\e60e";
	font-family: "icomoon";
}
#departments a:before
{
	color: white;
	content: "\e606";
	font-family: "icomoon";
}
#doc
{
	background: white;
	border: transparent;
	border-radius: 0.5em;
}
#donator a:after
{
	color: white;
	content: "\e604";
	font-family: "icomoon";
}
#down_content
{
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 1px solid #7f8c8d;
	display: block;
	height: 2em;
	position: relative;
}
#down_text_cal:after
{
	content: "\e600";
	font-family: "icomoon";
	font-style: normal;
	font-weight: bold;
}
#dur
{
	background: white;
	border: transparent;
	border-radius: 0.5em;
}
#duration_already_patient
{
	margin: 1em;
}
#fifteen, #fourtyfive, #half
{
	font-size: 0.53em;
	position: absolute;
}
#fifteen
{
	top:20px;
}
#fourtyfive
{
	top:70px;
}
#glass:after
{
	content: "\e605";
	font-family: "icomoon";
}
#group_profile_pic
{
	display: inline-block;
	text-align: center;
	width: 30%;
}
#group_settings1
{
	display: inline-block;
	margin-right: 1.5em;
	width: 30%;
}
#group_settings2
{
	display: inline-block;
	margin-left: 1.5em;
	width: 30%;
}
#half
{
	top:45px;
}
#id_img
{
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}
#id_img img
{
	border-radius: 10%;
	width: 150px;
}
#indicator_actual
{
	background: #DD4F24;
	border-radius: 50%;
	color: white;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0.3em 0 0.5em;
	padding: 0.1em 0.4em;
	text-align: center;
}
#indicator_aviable
{
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.1em 0.4em;
	width: 1em;
}
#indicator_unaviable
{
	color: gray;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.1em 0.4em;
	text-decoration: line-through;
	width: 1em;
}
#info_calendar
{
	background: white;
	font-style: italic;
	font-weight: normal;
	font-size: 0.9em;
}
#inicio
{
	padding-left: 1em;
}
#lab_survey
{
	font-size: 1.3em;
	padding: 0.2em 0.5em 0.2em 0;
}
#lab_survey a:after
{
	color: white;
	content: "\e608";
	font-family: "icomoon";
}
#left_wrapper
{
	display: inline-block;
	float: left;
	position: relative;
}
#lista_title
{
	background: #DD4F24;
	border-radius: 0.7em;
	color: white;
	font-style: italic;
	font-weight: bold;
	margin: 1em 1em 0 1em;
	padding: 0.5em 0;
}
#look, #manage, #new, #print
{
	color: rgba(255,255,255,0.9);
	font-size: 1.5em;
}
#look:after
{
	content: "\e610";
	font-family: "icomoon";
}
#mail_label:after
{
	content: "\e60d";
	font-family: "icomoon";
}
#main_fields_holder
{
	margin-top: 1em; 
}
#manage:after
{
	content: "\e60b";
	font-family: "icomoon";
}
#manage_h:after
{
	content: "\e60b";
	font-family: "icomoon";
}
#masPerfil
{
	position: absolute;
	top: 0em;
	right: 0;
}
#masPerfil ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#masPerfil ul li
{
	display: inline-block;
	margin: 0;
	padding: 0.3em 0.5em;
}
#masPerfil ul li a
{
	font-size: 1em;
	margin: 0;
	padding: 0.3em 0.5em;
	transition: all 0.5s;
}
#masPerfil ul li a:hover
{
	border-bottom: 3px solid white;
}
#menu
{
	background: rgba(44, 62, 80,0.96);
	border: 2px solid #2980b9; 
	border-radius: 1em;
	display: block;
	list-style: none;
	margin: 0;
	padding: 1em;
	position: absolute;
	right: 1em;
	text-align: left;
	top: 6em;
	width: 210px;
}
#menu:after
{
	border-bottom: 20px solid #2980b9;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	content: "";
	top: -20px;
	position: absolute;
	left: 70%;
}
#menu li
{
	padding: 0;
	margin: 0;	
}
#menu li a
{
	color: white;
	display: block;
	padding: 0.5em 0;
}
#miniholder
{
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0;
}
#miniholder:before
{
	border-right: 26px solid rgba(39,174,96,0.5);
	border-top: 26px solid transparent;
	content: "";
	position: absolute;
	right: 100%;
	top: 0;
}
#name_already_patient
{
	margin: 1em;
}
#nom
{
	background: rgba(0,0,0,0.2);
	border-radius: 0.2em;
	padding: 0.3em;
}
#new:after
{
	content: "\e619";
	font-family: "icomoon";
}
#new_h, #manage_h, #print_h
{
	color: rgba(0,0,0,0.5);
	cursor: pointer;
	font-size: 1.2em;
	transition: all 0.5s;
}
#new_h:hover, #manage_h:hover, #print_h:hover
{
	color: rgba(0,0,0,0.9);
}
#new_h:after
{
	content: "\e619";
	font-family: "icomoon";
}
#new_user_continue
{
	background: #FFBC00;
	border: transparent;
	border-bottom: 3px solid #704b00;
	border-radius: 0.3em;
	color: #704B00;
	float: right;
	margin: 1em 1.1em 1em 0;
	outline: none;
	padding: 0.5em 1.5em;
}
#new_user_submit
{
	background: #FFBC00;
	border: transparent;
	border-bottom: 3px solid #704b00;
	border-radius: 0.3em;
	color: #704B00;
	margin: 1em 1.1em 0 0;
	outline: none;
	padding: 0.5em 1.5em;
}
#new_user_submit2
{
	background: #FFBC00;
	border: transparent;
	border-bottom: 3px solid #704b00;
	border-radius: 0.3em;
	color: #704B00;
	margin: 1em 0 0 51%;
	outline: none;
	padding: 0.5em 1.5em;
}
#notifications
{
	background: rgba(243,243,243,0.3);
	border-radius: 0.2em;
	color: white;
	margin: 0.9em 0 0 0.8em;
	padding: 0.8em 0.3em;
	position: relative;
	text-align: center;
	width: 20%;
}
#notifications:after
{
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid rgba(243,243,243,0.3);
	content: "";
	top: 18px;
	position: absolute;
	left: 100%;
}
#notifications:before
{
	content: "\e603";
	font-family: "icomoon";
}
#numb
{
	border-radius: 50%;
	background: #DD4F24;
	color: white;
	display: block;
	font-size: 0.9em;
	padding: 0.1em 0.4em;
	position: absolute;
	right: -0.5em;
	top: -0.6em;
}
#optional_photo
{
	background: #2980b9;
	color: white;
	font-size: 0.8em;
	text-align: center;
}
#optional_photo p
{
	margin: 0;
}
#other_data
{
	color: #7f8c8d;
	background: #ecf0f1;
	border: 1px solid #7f8c8d;
	border-radius: 0.3em;
	font-size: 0.9em;
	margin: 0.5em;
	padding: 0.7em;
	text-align: left;
	width: 250px;
}
#other_data span
{
	color: black;
	font-size: 1em;
}
#other_data_root
{
	color: #7f8c8d;
	background: #ecf0f1;
	border: 1px solid #7f8c8d;
	border-radius: 0.3em;
	display: inline-block;
	font-size: 0.9em;
	margin: 0.5em;
	padding: 0.7em;
	text-align: left;
	width: 250px;
}
#other_data_root span
{
	color: black;
	font-size: 1em;
}
#patients a:after
{
	color: white;
	content: "\e601";
	font-family: "icomoon";
}
#personal_data
{
	color: #7f8c8d;
	background: #ecf0f1;
	border: 1px solid #7f8c8d;
	border-radius: 0.3em;
	font-size: 0.9em;
	margin: 0.5em;
	margin-top: 2em;
	padding: 0.7em;
	text-align: left;
	width: 250px;
}
#personal_data span
{
	color: black;
	font-size: 1em;
}
#personal_data_root
{
	color: #7f8c8d;
	background: #ecf0f1;
	border: 1px solid #7f8c8d;
	border-radius: 0.3em;
	display: inline-block;
	font-size: 0.9em;
	margin: 0.5em;
	padding: 0.7em;
	text-align: left;
	width: 250px;
}
#personal_data_root span
{
	color: black;
	font-size: 1em;
}
#photo
{
	border-radius: 0.7em;
	height: 200px;
	margin: 0;
	padding: 0;
	width: 250px;
}
#photos_holder
{
	text-align: center;
}
#photo_buttons, #photo_loader
{
	margin: 0 1em 0 1em;
	text-align: center;
}
#pop_notification
{
	background: #dcf2a7;
	border: 1px solid #9EC445;
	border-radius: 0.5em;
	display: none;
	left: 1em;
	padding: 0.5em;
	position: fixed;
	bottom: 0.5em;
	width: 200px;
}
#pop_notification p
{
	font-size: 0.8em;
	margin: 0;
	text-align: center;
}
#pop_notification p:last-child
{
	font-style: italic;
}
#print:after
{
	content: "\e613";
	font-family: "icomoon";
}
#print_h:after
{
	content: "\e613";
	font-family: "icomoon";
}
#data_holder
{
	display: inline-block;
}
#profile_pic
{
	border: transparent;
	display: block;
	height: 150px;
	margin: 0;
	position: relative;
	padding: 0;
	width: 160px;
}
#profile_pic_root
{
	border: transparent;
	display: inline-block;
	height: 150px;
	position: relative;
	padding: 0;
	width: 250px;
}
#profile_pic_root img
{
	border-radius: 0.5em;
}
#rfc_label:after
{
	content: "\e601";
	font-family: "icomoon";
}
#quick_access
{
	background: #878787;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display: block;
	margin: 1em 1em 0.5em 0.5em;
	padding: 0.5em 0.5em;
	top: 15em;
}
#quick_access ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#quick_access ul li
{
	border-left: 1px solid gray;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
#quick_access ul li:first-child
{
	border-left: 0px;
}
#quick_access ul li a
{
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
}
#quick_access_h
{
	display: block;
	padding: 0.5em 0.5em;
	position:absolute;
	right: 0.5em;
	top: 0em;
}
#quick_access_h ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#quick_access_h ul li
{
	border-left: 1px solid gray;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
#quick_access_h ul li:first-child
{
	border-left: 0px;
}
#quick_access_h ul li a
{
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
}
#right_wrapper
{ 
	float: right;
	width: 160px;
}
#search_wrapper
{
	background: #202735;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
	margin: 10px 10px 0 10px;
	padding: 0.5em;
	text-align: right;
}
#start_camera
{
	background: rgba(22,160,133,0.5);
	border: transparent;
	border-bottom-left-radius: 0.5em;
	color: white;
	font-size: 0.8em;
	outline: none;
	padding: 0.5em 0.5em 0.5em 0.5em;
	position: absolute;
	right: 4.6em;
	top: 0;
}
#start_camera:hover
{
	background: rgba(26,188,156,0.5);
}
#stop_camera
{
	background: rgba(192,57,43,0.5);
	border-top-right-radius: 0.7em;
	border: transparent;
	color: white;
	font-size: 0.8em;
	outline: none;
	padding: 0.5em 0.5em;
	position: absolute;
	right: 0;
	top: 0;
}
#stop_camera:hover
{
	background: rgba(231,76,60,0.5);
}
#table_body
{
	display: block;
	width: 100%;
}
#take_photo
{
	background: rgba(39,174,96,0.5);
	border: transparent;
	color: white;
	outline: none;
	padding: 0.2em 1em;
	width: 115px;
}
#take_photo:hover
{
	background: rgba(46,204,113,0.5);
}
#tel_label:after
{
	content: "\e615";
	font-family: "icomoon";
}
#temporal_date_catcher
{
	border-radius: 0.3em;
	display: block;
	margin: 0 10px 0 10px;
	width: 145px;
}
#temporal_date_catcher tbody
{
	margin: 0;
	width: 145px;
}
#temporal_date_catcher tr
{
	margin: 0;
	padding: 0;
	width: 145px;
}
#temporal_date_catcher tr td
{
	border: transparent;
	color: transparent;
	padding: 0.5em 0.2em;
	width: 145px;
}
#up_content
{
	background: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0;
	position: relative;
}
#up_content_calendar
{
	background: white;
	border-bottom: 1px solid #7f8c8d;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	position: relative;
}
#upload_photo
{
	background: white;
	bottom: 0.2em;
	display: inline-block;
	font-size: 0.8em;
	border-radius: 0.5em;
	margin: 0.5em 0; 
    padding: 0.5em;
}
#user
{
	background: rgba(221,79,36,0.5);
	bottom: 0;
	color: white;
	font-size: 1em;
	padding: 0.2em 1em;
	position: absolute;
	right: 0;
}
#user_label:after
{
	content: "\e60f";
	font-family: "icomoon";
}
#userName
{
	color: #2c3e50;
	font-size: 1.3em;
}
#vertical_spacer
{
	display: none;
}
.apnmbr
{
	background: #27496B;
	border-radius: 0.5em 0 0 0;
	bottom: 0;
	color: white;
	font-size: 0.7em;
	font-weight: normal;
	padding: 0 0.5em 0 0;
	position: absolute;
	right: 0;
	text-align: right;
	width: 35%;
}
.app_identifier
{
	font-size: 0.8em;
	margin: 0.6em 0;
}
.button_yellow
{
	background: transparent;
	border: transparent;
	color: rgba(255,255,255,0.6);
	display: block;
	margin: 1em 1.1em 0 0;
	outline: none;
	padding: 0.3em 1.5em;
	position: absolute;
	right: 0;
	top: -1em;
	transition: all 0.5s;
}
.button_yellow:hover
{ 
	border-bottom: 3px solid white;
	color: white;
}
.calendar_row
{
	font-weight: bold;
	padding-left: 0.4em;
	position: relative;
}
.close_session
{
	border-bottom: 3px solid #75231A;
	border-radius: 5px;
	background: #e74c3c;
	margin-top: 1em;
	text-align: center;
}
.close_session:hover
{
	background: #C23828;
}
.contenido_item_perfil
{
	background: rgba(86,194,255,0.1);
	color: black;
	margin-top: 0;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}
.contenido_item_perfil img
{
	border: 3px solid #ecf0f1;
	left: 0.5em;
	position: absolute;
	width: 150px;
}
.contenido_item_perfil p
{
	padding: 0.5em 1em; 
}
.contenido_item_perfil_u
{
	background: rgba(86,194,255,0.1);
	color: black;
	margin-top: 0;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-left: 7em; 
	text-align: center;
}
.contenido_item_perfil_u img
{
	border: 3px solid #ecf0f1;
	left: 0.5em;
	position: absolute;
	width: 150px;
}
.contenido_item_perfil_u p
{
	padding: 0.5em 1em; 
}
.current a
{
	color: rgb(3,3,63);
	text-decoration: underline;
}
.current_month:after
{
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #2980b9;
	content: "";
	margin-right: -7px;
	right: 50%;
	position:absolute;
	top: 100%;
}
.day_height
{
	background: #eee;
	height:50px;
}
.day_height p
{
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}
.day_height_gray
{
	background: #ccc;
	height:50px;
}
.day_number
{
	color: white;
	margin: 0;
	font-size: 2.5em;
}
.day_title
{
	background: #1A233C;
	color: white;
}
.draggable_hour
{
	background: rgba(19,39,60,0.8);
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 5px 3px;
	color: white;
	display: inline-block;
	font-size: 0.9em;
	min-height: 30px;
	margin: 0;
	padding: 0 1em 0 0.5em;
	position: absolute;
	width: 96.6%;
}
.draggable_hour:after
{
	color: rgba(236, 240, 241,0.5);
	content: "...";
	font-size: 2em;
	font-weight: bold;
	margin-top: -21px;
	position: absolute;
	right: -0.3em;
	top: 50%;
	transform: rotate(90deg);
}
.draggable_hour:hover
{
	background: #34495e;
	cursor: move;
}
.draggable_tag_1, 
.draggable_tag_2, 
.draggable_tag_3, 
.draggable_tag_4, 
.draggable_tag_5, 
.draggable_tag_6
{
	border-radius: 3px 3px 0 0;
	display: block;
	height: 25px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.draggable_tag_1
{
	background: rgba(22,160,133,0.8);/*#16a085;*/
}
.draggable_tag_2
{
	background: rgba(142,68,173,0.8);/*#8e44ad;*/
}
.draggable_tag_3
{
	background: rgba(192,57,43,0.8);/*#c0392b;*/
}
.draggable_tag_4
{
	background: rgba(211,84,0,0.8);/*#d35400;*/
}
.draggable_tag_5
{
	background: rgba(243,156,18,0.8);/*#f39c12;*/
}
.draggable_tag_6
{
	background: rgba(39,174,96,0.8);/*#27ae60;*/
}
.draggable_wrapper
{
	/*border: 1px solid magenta;*/
	display: inline-block;
	min-height: 30px;
	position: relative;
	padding: 0;
	width: 100%;
}
/* Droppables! */
.droppable_hour
{
	border-right: 1px solid #7f8c8d;
	margin: 0;
	min-height: 40px;
	padding: 0;
	position: relative;
	width: 90%;
}
.droppable_hour:last-child
{
	border-right: 0px;
}
.down_text
{
	float: right;
	font-size: 0.9em;
	margin: 0.3em 1em 0 0;
}
.down_text a
{
	color: #3498db;
	font-style: italic;
}
.fields_holder
{
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	margin: 1em 19px;
	padding: 0;
	vertical-align: top;
	text-align: left;
}
.fields_holder:first-child
{
	margin-top: 1em;
}
.fields_holder_chk
{
	background: white;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	display: inline-block;
	margin: 0.5em 19px;
	padding: 0;
	position: relative;
	vertical-align: top;
	width: 240px;
}
.fixed
{
	position: fixed; 
	top:0;
}
.here_hour
{
	font-weight: bold;
}
.here_hourd
{
	font-weight: bold;
}
.hour_row
{
	background: #ECECEC;
	border-bottom: 1px solid #7f8c8d;
	border-left: 1px solid #95a5a6;
	border-right: 1px solid #95a5a6;
	height: 30px;
	padding: 0;
	position: relative;
}
.hour_row:nth-child(4n+4)
{
	border-bottom: 1px solid #2c3e50;
}
.hour_row:nth-child(2n+1)
{
	border-bottom: 1px dashed #7f8c8d;
}
.hour_row:first-child
{
	border-top: 2px solid #7f8c8d;
}
.hour_row:last-child
{
	border-bottom: 2px solid #7f8c8d;
}
.inner_separator
{
	border: 0px;
	border-top: 1px solid #999;
	height: 0;
	width: 80%;
}
.input_su
{
	background: white;
	border: transparent;
	border-radius: 0.5em;
	outline: none;
	padding: 0.5em;
	width: 150px;
}
.item_list
{
	background: #2980b9;
	border-radius: 0.5em;
	color: white;
	font-size: 1.5em;
	margin: 1em;
	padding: 1em;
	position: relative;
}
.item_list img
{
	border-radius: 50%;
	top: -0.8em;
}
.item_perfil
{
	display: inline-block;
	position: relative;
	width: 100%%;
}
.item_perfil_in
{
	display: inline-block;
	width: 50%;
}
.item_perfil_block_right
{
	display: inline-block;
	float: right;
	margin:0;
	min-height: 220px;
	width: 24%;
}
.item_perfil_su
{
	position: relative;
	width: 100%;
}
.item_perfil_su_per
{
	display: inline-block;
	position: relative;
	width: 75%;
}
.item_perfil_su_up
{
	display: inline-block;
	min-height: 220px;
	position: relative;
	width: 100%;
}
.left_hour
{
	background: #2980b9;
	border-right: 1px solid #2c3e50;
	color: #2c3e50;
	font-weight: normal;
	font-size: 0.9em;
	padding: 1em 0.2em 1em 0.5em;
	text-align: center;
	transition: all 0.5s;
	width: 10%;
}
.left_hour_i
{
	text-align: left;
}
.manageapp
{
	background: #13273C;
	border-radius: 0 0.3em 0 0;
	color: white;
	display: none;
	padding: 0.2em 0.5em 0.3em 0.5em;
	position:absolute;
	right: 0;
	text-align: center;
	top: 0em;
	z-index: 12;
}
.manageapp:after
{
	content: "\e60b";
	font-family: "icomoon";
}
.manage_option_del, .manage_option_man
{
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 0.5em; 
	margin: 0.5em;
	padding: 0.3em;
}
.manage_option_del:hover, .manage_option_man:hover
{
	background: #34495e;
}
.manage_options
{
	background: #13273C;
	border-radius: 0.7em;
	padding: 0.8em 0 0.8em 0;
	position: absolute;
	right: 0;
	top: -4em;
}
.manage_options:after
{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #13273C;
	content: "";
	margin-right: -10px;
	position: absolute;
	right: 50%;
	top: 100%;
}
.meridiane
{
	color: white;
	margin: 0;
	font-size: 1em;
}
.menu_profile:hover, .menu_help:hover, .menu_conf:hover
{
	background: #34495e;
}
.menu_profile:before
{
	content: "\e617";
	font-family: "icomoon";
}
.menu_help:before
{
	content: "\e61c";
	font-family: "icomoon";
}
.menu_conf:before
{
	content: "\e60a";
	font-family: "icomoon";
}
.minutitos
{
	border-radius: 0.3em;
	color: transparent;
	padding: 0.2em;
	bottom: 0.1em;
	font-size: 0.8em; 
	left: -2.3em;
	position: absolute;
}
.month
{
	border: 1px solid #fff;
	width: 100%;
}
.month td, .month th
{
	 border: 1px solid #fff;
}
.month_slider
{
	font-size: 1.5em;
	text-align: center;
}
.month_title
{
	border-radius: 0.5em 0 0 0;
	color: #2980b9;
	display: inline-block;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 1.5em 2em;
	padding: 0.3em 0 0.4em 0;
	position: relative;
	text-align: center;
}
.new_user_input
{
	border: transparent;
	display: inline-block;
	padding: 0.5em 0.5em 0.5em 2em; 
	position: relative;
	width: 65%;
}
.new_user_input_chk
{	
	border: transparent;
	display: inline-block;
	outline: none;
	padding: 0.5em 0.5em 0.5em 2em; 
	position: relative;
	width: 160px;
}
.new_user_input:focus
{
	outline: 0px;
}
.new_user_labels
{
	background: #3498db;
	border-radius: 0.2em 0 0 0.2em;
	color: white;
	display: inline-block;
	padding: 0.5em; 
	position: relative;
}
.new_user_labels:before
{
	border-left: 18px solid #3498db;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	content: "";
	position: absolute;
	right: -1.1em;
	top: 0;
	z-index: 5;
}
.next_month:after
{
	background: rgba(12,12,12,0.5);
	border-radius: 50%;
	color: white;
	content: "\e61f";
	font-family: "icomoon";
	font-size: 1.7em;
	position: absolute;
	right: 0.3em;
	text-align: center;
	top: 59%;
}
.nombre_paciente
{
	background: rgba(19,39,60,0.8);
	left: 0em;
	position: relative;
	padding: 0.2em;
	position: absolute;
	top: 25px;
}
.nombre_paciente:after
{
	border-right: 21px solid transparent;
	border-top: 21px solid rgba(19,39,60,0.8);
	content: "";
	left: 100%;
	position: absolute;
	top: 0;
}
.nombre_paciente_id
{
	background: rgba(255,255,255,0.4);
	border-radius: 50%;
	display: inline-block;
	height: 100%;
	padding: 0 0.2em;
	text-align: center;
	text-shadow: 0 0 2px black;
	width: 11px;
}
.patient_check
{
	background: #ecf0f1;
	padding: 1em 0.5em;
}
.photo_container
{
	border: 2px solid #3498db;
	border-radius: 0.7em;
	display: inline-block;
	margin: 1.5em 1em 0.5em 1em;
	padding: 0;
	position: relative;
	width: 250px;
}
.photo_frame_title
{
	background: rgba(52,152,219,0.5);
	border-top-left-radius: 0.5em; 
	color: white;
	left: 0;
	padding: 0.3em 1em 0.3em 1em;
	position: absolute;
	text-align: center;
}
.photo_frame_title:after
{
	border-top: 29px solid rgba(52,152,219,0.5);
	border-right: 29px solid transparent;
	content: "";
	position: absolute;
	left: 100%;
	top: 0;
}
.prev_month:after
{
	background: rgba(12,12,12,0.5);
	border-radius: 50%;
	color: white;
	content: "\e620";
	font-family: "icomoon";
	font-size:1.7em;
	right: 1.5em;
	position: absolute;
	text-align: center;
	top: 59%;
}
.search_field
{
	transition: all 0.5s;
	border-radius: 5px;
	border:0;
	margin: 0.4em;
	outline: none;
	padding: 0.5em;
	width: 30%;
}
.search_field:focus
{
	background: #E0E3E7;
	width: 70%;
}
.selecion_privileges
{
	width: 50px;
}
.title_item_perfil
{
	background: #2980b9;
	margin: 0;
	padding: 0.4em 0 0.4em 1em;
	font-style: italic;
	position: relative;
}
.title_item_perfil p
{
	color: white;
	margin: 0;
}
.visual_help:after
{
	border-bottom: 7px solid transparent;
	border-left: 7px solid white;
	border-top: 7px solid transparent;
	content: "";
	margin-top: -5px;
	position: absolute;
	right: 100%;
	top: 50%;
}
.work_data
{
	transition: all 0.5s;
}
.work_data:hover
{
	background: white;
	cursor: pointer;
}
.you_should_check
{
	background: #DD4F24;
	border-radius: 0.5em 0.3em 0.3em 0.5em;
	color: white;
	display: inline-block;
	font-size: 0.8em;
	font-style: italic;
	left: 100%;
	margin-top: 0.2em;
	margin-left: 1em; 
	padding: 0.5em;
	position:absolute;
	width: 300px;
}
.you_should_check:after
{
	border-bottom: 10px solid transparent;
	border-right: 10px solid #DD4F24;
	border-top: 10px solid transparent;
	content: "";
	position: absolute;
	right: 100%;
	top: 0.4em;
}